 <% @players.each_with_index do |p, i| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Player <%=i + 1 %></h3>
  </div>
  <div class="panel-body">

 <h1><%= p.name %></h1>
 <h2><%= p.age %></h2>
 <h3><%= p.nationality %></h3>
 <h4><%= p.wiki %></h4>


  </div>
</div>
<% end %>



















