<h1> Edit Information </h1>
<%= simple_form_for @player, method: :patch do |p| %>
	<%= p.name %>
	<%= p.age %>
	<%= p.nationality %>
	<%= p.wiki %>
	<%= p.submit 'submit', class: 'btn btn-primary' %>
	<% end %>